<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467652970556-rosfk24kg7ncm6gb3c5u1nbqsbdcbtgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467652970556-rosfk24kg7ncm6gb3c5u1nbqsbdcbtgs</string>
	<key>API_KEY</key>
	<string>AIzaSyCF9IlKZMx9DK5vM9plkbi48LsJZWEYFD4</string>
	<key>GCM_SENDER_ID</key>
	<string>467652970556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.semaphore.TodoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-ios-a4db0</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-ios-a4db0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467652970556:ios:a64a90011390a416615b39</string>
</dict>
</plist>